.container {
  max-width: 80%;
  margin: 0 auto;
}

.menu-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  justify-content: space-between;
  padding: 20px 0;
}

.menu-controls {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 16px;
  justify-content: end;
  align-items: center;
}

.menu-search-container {
  display: flex;
  align-items: center;
}

.search {
  border-radius: 4px;
  border: none;
  background-color: #e9e9ed;
  padding: 12px 16px;
  font: inherit;
}

.select {
  border-radius: 4px;
  padding: 12px 16px;
  box-shadow: none;
  border: none;
  font-size: 16px;
  font-family: inherit;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-content: center;
  gap: 12px;
}

.card {
  max-width: 400px;
}

@media only screen and (max-width: 1080px) {
  .menu-container {
    grid-template-columns: auto;
  }

  .menu-controls {
    grid-template-columns: auto;
    grid-row: revert;
    justify-content: start;
  }

  .create-button {
    order: 3;
  }
}
